* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color:burlywood;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    font-size: 35px;
    height: 500px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 505px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: burlywood;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  /*General info sub option css below*/
  .generalInfoSub {
    margin-left: 5%;
  }

  /*s01 and so2 refer to the sub options that can branch from the three root options*/
  .sO1:hover, .sO2:hover {
    background-color: aqua;
  }

  /*Eduction info sub options css below*/
.EducationSub{
  margin-left: 5%;
}

/*Hobbies info sub options css below*/
.ProjectsSub {
  margin-left: 5%;
}