  <main>
    <!-- Hero Section -->
    <section class="welcome">
      <div class="welcome-content">
        <h1>Welcome! Thanks for stopping by!</h1>
        <p>Feel free to explore below if any of the following intrest you:  my work, passions, and hobbies.</p>
      </div>
    </section>
  
    <!-- Features Section -->
    <section class="features">
      <div class="feature">
        <h2>About Me</h2>
        <p>Learn about my background and experiences.</p>
        <button routerLink="/about">Read More</button>
      </div>
      <div class="feature">
        <h2>Projects</h2>
        <p>See my latest projects and contributions.</p>
        <button routerLink="/projects">View Projects</button>
      </div>
      <div class="feature">
        <h2>Hobbies</h2>
        <p>Discover what I enjoy doing in my free time.</p>
        <button routerLink="/hobbies">Explore Hobbies</button>
      </div>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2025 Taittinger Gabelhart. All rights reserved.</p>
  </footer>